:root{
    --bg : #01132d;
    --inputDiv : #f8fec3;
    --svgColor : #070a05; 
    --inputColor : #f8fec3; 
    --buttonActive: #fba423;
    --buttonInactive: #b1ce9c;
    --inactiveBtn: #2E9DA6;
    --text: #ffffff;
    --inputText : #01132d;
    --background: #ffffff;
    --primary: #b1ce9c;
    --secondary: #fba423;
    --accent: #f01c05;
    --activeBtn :  #008000;
}
a{
    text-decoration: none;
    color: white;
}
body{
    background-color: var(--bg);
}

body{
    margin: 0;
    padding: 0;
    margin: auto;
    width: 100vw;
    height: 100vh;
}
.container{
    width: 95%;
    margin: auto;
    margin-top: 1em;
}

.head{
    text-align: center;
    color:var(--text);
}

.content{
    width: 95%;
    margin: auto;
    text-align: center;
    margin-top: 1em;
}

.entry{
    height: 3em;
    display: flex;
    align-items: center;
    gap: 1em;
    background: var(--inputDiv);
    margin-bottom: 1em;
}
.entrydash{
    margin-bottom: .5em;
}
.entry svg{
    margin-left: 1em;
    color: var(--svgColor);
}
.entry input{
    height: 100%;
    background: transparent;
    border: none;
    color: #7D848D;
}
.entry input:focus{
    outline: none;
}
.entry p{
    color: var(--svgColor);
}
button{
    width: 100%;
    height: 3em;
    background: var(--buttonActive);
    border: none;
    color: white;
    border-radius: .3em;
}


.head{
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}