:root{
    --bg : #16181F;
    --inputDiv : #b1ce9c;
    --svgColor : #070a05; 
    --inputColor : #7D848D; 
    --buttonActive: #608943;
    --buttonInactive: #b1ce9c;
    --inactiveBtn: #2E9DA6;
    --text: #070a05;
    --background: #ffffff;
    --primary: #b1ce9c;
    --secondary: #c9ddbb;
    --accent: #608943;
    --activeBtn :  #008000;
}
a{
    text-decoration: none;
    color: white;
}
body{
    background: rgb(177,206,156);
      background: linear-gradient(0deg, rgba(177,206,156,1) 0%, rgba(96,137,67,1) 76%); 
}

body{
    margin: 0;
    padding: 0;
    margin: auto;
    width: 100vw;
    height: 100vh;
}
.container{
    width: 95%;
    margin: auto;
    margin-top: 1em;
}

.head{
    text-align: center;
    color:var(--text);
}

.content{
    width: 95%;
    margin: auto;
    text-align: center;
    margin-top: 1em;
}

.entry{
    height: 3em;
    display: flex;
    align-items: center;
    gap: 1em;
    background: var(--inputDiv);
    margin-bottom: 1em;
}
.entrydash{
    margin-bottom: .5em;
}
.entry svg{
    margin-left: 1em;
    color: var(--svgColor);
}
.entry input{
    height: 100%;
    background: transparent;
    border: none;
    color: #7D848D;
}
.entry input:focus{
    outline: none;
}
.entry p{
    color: var(--svgColor);
}
button{
    width: 100%;
    height: 3em;
    background: var(--buttonActive);
    border: none;
    color: white;
    border-radius: .3em;
}


.head{
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}