:root{
    --bg : #01132d;
    --inputDiv : #b1ce9c;
    --svgColor : #070a05; 
    --inputColor : #7D848D; 
    --buttonActive: #608943;
    --buttonInactive: #b1ce9c;
    --inactiveBtn: #2E9DA6;
    --text: #070a05;
    --background: #ffffff;
    --primary: #b1ce9c;
    --secondary: #c9ddbb;
    --accent: #608943;
    --activeBtn :  #008000;
}
a{
    text-decoration: none;
    color: white;
}
body{
    background: var(--bg);
}
svg{
    fill: var(--text);
}
