:root{
    --bg : #01132d;
    --inputDiv : #f8fec3;
    --svgColor : #070a05; 
    --inputColor : #f8fec3; 
    --buttonActive: #fba423;
    --buttonInactive: #b1ce9c;
    --inactiveBtn: #f01c05;
    --text: #ffffff;
    --inputText : #01132d;
    --background: #ffffff;
    --primary: #fba423;
    --secondary: #b1ce9c;
    --accent: #f01c05;
    --activeBtn :  #008000;
}
a{
    text-decoration: none;
    color: white;
}
body{
    background: var(--bg);
}
svg{
    fill: var(--text);
}
