.confirmation{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1em;
    color: white;
    border: none;
    background: var(--bg);
}
.cons-buttons{
    display: flex;
    justify-content: space-between;
}
.cons-buttons button{
    width: 45%;
    height: 3em;
    color: white;
    border-radius: .5em;
    border: none;
}