body{
    background-color: var(--bg);
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.container{
    width: 90%;
    height: 90%;
    margin: auto;
    margin-top: 10%;
}
.logo{
    line-height: 1;
    color: white;
    margin: auto;
    text-align: center;
    height: 25%;
    width: 100%;
    margin-bottom: 1em;
    font-size: 1em;
}
.logo svg{
    height: 6em;
    width: 6em;
}
form{
    height: 70%;
    width: 100%;
    margin: auto;
    position: relative;
    border: 1px solid white;
}
.entryInput{
    height: 3em;
    display: flex;
    align-items: center;
    background-color: var(--inputDiv);
    border-radius: .3em;
    margin-bottom: 1em;
    width: 100%;
    padding-left: .5em;
    position: relative;
}
.entryInput svg {
    height: 1.5em;
    width: 2em;
}
.entryInput svg path{
    fill: var(--svgColor);
}
.passwordInput svg path:first-child{
    fill: none;
    stroke: var(--svgColor);
}
.passwordInput svg path:last-child{
    fill: none;
}
.entryInput input{
    height: 50%;
    background-color: transparent;
    border: none;
    color: var(--inputColor);
    width: 60%;
}
.entryInput input:focus{
    outline: none;
}
#eyePass{
    position: absolute;
    right: 1em;
}

#forget{
    color: var(--svgColor);
    text-decoration: none;
}

.buttonSubmit{
    width: 100%;
    position: absolute;
    bottom: 1em;
}
.buttonSubmit button{
    height: 3em;
    width: 90%;
    border: none;
    border-radius: .3em;
    letter-spacing: .1em;
}
.buttonSubmit button:first-child{
    background-color: var(--buttonActive);
    color: white;
}
.buttonSubmit button:last-child{
    background-color: var(--buttonInactive);
    color: white;
}
.orline{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--svgColor);
    height: 1em;
}
.orline hr{
    border: 1px solid var(--svgColor);
    width: 45%;
    background-color: var(--svgColor);
}

/* responsiveness */
@media screen and (min-width: 600px){
    .container{
        width: 40em;
        margin-top: 2%;
    }
    form{
        width: 90%;
    }
    .entryInput{
        height: 4em;
    }
    .entryInput input{
        font-size: 1.3em;
    }
    .entryInput svg{
        height: 2em;
    }
    #eyePass{
        right: 1em;
    }
    .buttonSubmit{
        height: 7em;
    }
    .buttonSubmit button{
        height: 50%;
    }

}
