html,body{
    background-color: var(--bg);
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow:hidden;
    color: var(--text);
}
.container{
    width: 90%;
    height: 90%;
    margin: 0;
}
.logo{
    line-height: 1;
    color: var(--text);
    margin: auto;
    text-align: center;
    height: 25%;
    width: 100%;
    margin-bottom: 1em;
    font-size: 1em;
}
.logo svg{
    height: 6em;
    width: 6em;
}
form{
    height: 70%;
    width: 100%;
    margin: auto;
    position: relative;
    border: 1px solid white;
}
.entryInput{
    height: 3em;
    display: flex;
    align-items: center;
    background-color: var(--inputDiv);
    border-radius: .3em;
    margin-bottom: 1em;
    width: 100%;
    padding-left: .5em;
    position: relative;
    box-sizing: border-box;

}
.entryInput svg {
    height: 1.5em;
    width: 2em;
}
.entryInput svg path{
    fill: var(--inputText);
}
.passwordInput svg path:first-child{
    fill: none;
    stroke: var(--inputText);
}
.passwordInput svg path:last-child{
    fill: none;
    stroke:var(--inputText);
}
.entryInput input{
    height: 50%;
    background-color: transparent;
    border: none;
    color: var(--inputText);
    width: 60%;
}
::placeholder{
    color: var(--inputText);
}
.entryInput input:focus{
    outline: none;
}
#eyePass{
    position: absolute;
    right: 1em;
}

#forget{
    color: var(--text);
    text-decoration: none;
}

.buttonSubmit{
    width: 100%;
    position: absolute;
    bottom: 1em;
}
.buttonSubmit button{
    height: 3em;
    width: 90%;
    border: none;
    border-radius: .3em;
    letter-spacing: .1em;
}
.buttonSubmit button:first-child{
    background-color: var(--buttonActive);
    color: var(--text);
}
.buttonSubmit button:last-child{
    background-color: var(--buttonActive);
    color: var(--text);
}
.orline{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--svgColor);
    height: 1em;
}
.orline hr{
    border: 1px solid var(--svgColor);
    width: 45%;
    background-color: var(--svgColor);
}

