:root{
    --bg : #16181F;
    --inputDiv : #20232D;
    --svgColor : #7D848D; 
    --inputColor : #7D848D; 
    --buttonActive: #0D6EFD;
    --buttonInactive: #20232D;
}
a{
    text-decoration: none;
    color: white;
}